In [1]:
import pandas as pd
from tensorflow.keras.layers import Dropout,BatchNormalization,Dense
import tensorflow as tf
import numpy as np
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from keras.utils import np_utils
from sklearn.preprocessing import OneHotEncoder

In [3]:
data = pd.read_csv("/content/sensor_readings_24.csv") #reading the data

In [4]:
data.head()

   0.438  0.498  3.625  3.645  ...  0.444  0.440  0.429  Slight-Right-Turn
0  0.438  0.498  3.625  3.648  ...  0.444  0.443  0.429  Slight-Right-Turn
1  0.438  0.498  3.625  3.629  ...  0.444  0.446  0.429  Slight-Right-Turn
2  0.437  0.501  3.625  3.626  ...  0.444  0.444  0.429  Slight-Right-Turn
3  0.438  0.498  3.626  3.629  ...  0.444  0.441  0.429  Slight-Right-Turn
4  0.439  0.498  3.626  3.629  ...  0.444  0.444  0.430  Slight-Right-Turn

[5 rows x 25 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5455 entries, 0 to 5454
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   0.438              5455 non-null   float64
 1   0.498              5455 non-null   float64
 2   3.625              5455 non-null   float64
 3   3.645              5455 non-null   float64
 4   5.000              5455 non-null   float64
 5   2.918              5455 non-null   float64
 6   5.000.1            5455 non-null   float64
 7   2.351              5455 non-null   float64
 8   2.332              5455 non-null   float64
 9   2.643              5455 non-null   float64
 10  1.698              5455 non-null   float64
 11  1.687              5455 non-null   float64
 12  1.698.1            5455 non-null   float64
 13  1.717              5455 non-null   float64
 14  1.744              5455 non-null   float64
 15  0.593              5455 non-null   float64
 16  0.502              5455 non-null   float64
 17  0.493              5455 non-null   float64
 18  0.504              5455 non-null   float64
 19  0.445              5455 non-null   float64
 20  0.431              5455 non-null   float64
 21  0.444              5455 non-null   float64
 22  0.440              5455 non-null   float64
 23  0.429              5455 non-null   float64
 24  Slight-Right-Turn  5455 non-null   object
dtypes: float64(24), object(1)
memory usage: 1.0+ MB

In [6]:
data.describe()

             0.438        0.498  ...        0.440        0.429
count  5455.000000  5455.000000  ...  5455.000000  5455.000000
mean      1.471807     2.327378  ...     1.555250     1.578719
std       0.802753     1.410058  ...     1.291478     1.150480
min       0.400000     0.437000  ...     0.367000     0.377000
25%       0.921000     1.362000  ...     0.792000     0.884000
50%       1.335000     1.905000  ...     1.071000     1.289000
75%       1.814000     2.683000  ...     1.560000     1.657500
max       5.000000     5.025000  ...     5.000000     5.000000

[8 rows x 24 columns]

In [7]:
data['Slight-Right-Turn'].value_counts()

Move-Forward         2205
Sharp-Right-Turn     2097
Slight-Right-Turn     825
Slight-Left-Turn      328
Name: Slight-Right-Turn, dtype: int64

In [8]:
x=data.iloc[:,:-1]
y = data.iloc[:,-1]

In [9]:
x

      0.438  0.498  3.625  3.645  5.000  ...  0.445  0.431  0.444  0.440  0.429
0     0.438  0.498  3.625  3.648  5.000  ...  0.449  0.431  0.444  0.443  0.429
1     0.438  0.498  3.625  3.629  5.000  ...  0.449  0.431  0.444  0.446  0.429
2     0.437  0.501  3.625  3.626  5.000  ...  0.449  0.431  0.444  0.444  0.429
3     0.438  0.498  3.626  3.629  5.000  ...  0.449  0.431  0.444  0.441  0.429
4     0.439  0.498  3.626  3.629  5.000  ...  0.446  0.431  0.444  0.444  0.430
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
5450  0.910  5.000  3.997  2.785  2.770  ...  5.000  1.045  5.000  5.000  1.562
5451  0.926  5.000  4.015  2.792  2.777  ...  1.616  1.058  5.000  5.000  1.085
5452  0.937  5.000  4.034  2.799  2.784  ...  5.000  1.065  5.000  5.000  1.105
5453  0.945  4.052  4.052  2.809  2.791  ...  5.000  1.076  5.000  5.000  1.118
5454  0.950  4.066  5.000  2.819  2.798  ...  5.000  1.083  5.000  5.000  1.168

[5455 rows x 24 columns]

In [10]:
y

0       Slight-Right-Turn
1       Slight-Right-Turn
2       Slight-Right-Turn
3       Slight-Right-Turn
4       Slight-Right-Turn
              ...
5450         Move-Forward
5451     Sharp-Right-Turn
5452     Sharp-Right-Turn
5453         Move-Forward
5454     Sharp-Right-Turn
Name: Slight-Right-Turn, Length: 5455, dtype: object

In [11]:
x.shape

(5455, 24)

In [12]:
y.shape

(5455,)

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [14]:
y_train.value_counts() #input are categorical variables

Move-Forward         1522
Sharp-Right-Turn     1472
Slight-Right-Turn     587
Slight-Left-Turn      237
Name: Slight-Right-Turn, dtype: int64

changing the categoricals variable to numeric

In [15]:
y_train=pd.get_dummies(y_train,sparse=False)
y_test = pd.get_dummies(y_test,sparse=False)

Build neural network

In [16]:
model = Sequential()

In [17]:
model.add(Dense(32,input_dim=24,activation=None)) #input_layer as we have 24 columns so we give input_dim =24
model.add(Dense(64,activation='relu')) #hidden layer
model.add(Dense(64,activation='relu')) #hidden layer
model.add(Dense(64,activation='relu')) #hidden layer
model.add(Dense(4,activation='softmax')) #output layer

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                800
_________________________________________________________________
dense_1 (Dense)              (None, 64)                2112
_________________________________________________________________
dense_2 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_3 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_4 (Dense)              (None, 4)                 260
=================================================================
Total params: 11,492
Trainable params: 11,492
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics='accuracy')

In [20]:
model.fit(x_train,y_train,epochs=10,batch_size=100)

Epoch 1/10
39/39 [==============================] - 0s 2ms/step - loss: 1.1059 - accuracy: 0.5144
Epoch 2/10
39/39 [==============================] - 0s 2ms/step - loss: 0.8193 - accuracy: 0.6498
Epoch 3/10
39/39 [==============================] - 0s 2ms/step - loss: 0.7001 - accuracy: 0.7200
Epoch 4/10
39/39 [==============================] - 0s 2ms/step - loss: 0.6240 - accuracy: 0.7457
Epoch 5/10
39/39 [==============================] - 0s 2ms/step - loss: 0.5769 - accuracy: 0.7742
Epoch 6/10
39/39 [==============================] - 0s 2ms/step - loss: 0.5323 - accuracy: 0.7931
Epoch 7/10
39/39 [==============================] - 0s 2ms/step - loss: 0.5025 - accuracy: 0.8012
Epoch 8/10
39/39 [==============================] - 0s 2ms/step - loss: 0.4762 - accuracy: 0.8180
Epoch 9/10
39/39 [==============================] - 0s 2ms/step - loss: 0.4458 - accuracy: 0.8303
Epoch 10/10
39/39 [==============================] - 0s 2ms/step - loss: 0.4229 - accuracy: 0.8392

In [21]:
score = model.evaluate(x_test,y_test) #model accuracy

52/52 [==============================] - 0s 878us/step - loss: 0.4221 - accuracy: 0.8345